.homeView {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #efefef;
    text-align: center;
}

.bigText {
    font-family: Calligraffitti, sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 100px 0 0 0;
}

.smallText {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    color: black;
}

.profileImage {
    height: 60%;
}
.article {
    text-align: center;
    height: 40vh;
}

.localText {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

.githubImage {
    height: 10%;
}

@media only screen and (min-width: 768px) {
    .bigText {
        font-size: 40px;
    }

    .smallText {
        font-size: 16px;
        margin: 0;
    }

    .profileImage {
        max-height: 60%;
    }

    .article {
        height: 40vh;
    }

    .localText {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1200px) {
    .homeView {
        grid-template-columns: 2fr 1fr;
    }

    .bigText {
        font-size: 70px;
    }

    .smallText {
        font-size: 22px;
    }

    .profileImage {
        height: 350px;
    }

    .localText {
        font-size: 16px;
    }

    .article {
        height: 80vh;
        margin: 40px 100px 0 0;
    }
}