.container {
    background-color: floralwhite;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
}

.text {
    font-family: Montserrat, sans-serif;
    margin-top: 10px;
    font-size: 14px;
}

@media only screen and (min-width: 768px) {
    .text {
        margin-top: 20px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    .text {
        margin-top: 20px;
    }
}