body {
    padding: 0;
    margin: 0;
    background-color: #efefef;
}

@font-face {
    font-family: 'Calligraffitti';
    src: local('Calligraffitti'),
    url('../fonts/Calligraffitti-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
    url('../fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
    url('../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Thin';
    src: local('Poppins'),
    url('../fonts/Poppins-Thin.ttf') format('truetype');
}

h1, span, p {
    font-family: Poppins, sans-serif;
}