.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: floralwhite;

}

.li {
    float: right;
}

.li:hover {
    border-bottom: 1px solid steelblue;
}
.item:last-child {
    border-right: none;
}

.link {
    display: block;
    color: steelblue;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}

.image {
    max-width: 60px;
    max-height: 60px;
    margin: 10px 0 0 10px;
}

.imgContainer {
    background-color: floralwhite;
}