.container {
    background-color: #efefef;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
}

.empty {
    background-color: #efefef;
}

.containerImage {
    margin: 30px 130px;
}

.containerText {
    padding: 20px;
}
.image {
    height: 50%;
}

.buttonCv {
    margin-top: 40px;
}