.container {
    background-color: #efefef;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 100px;
}

.empty {
    background-color: #efefef;
}

.containerText {
    padding: 20px;
}

.profileImage {
    height: 200px;
}

.buttonCv {
    background: transparent;
    border: 0.1em solid gray;
    border-radius: 2px;
    box-shadow: 0.1em 2px;
    cursor: pointer;
    margin-top: 30px;
    padding: 12px;
    width: 100px;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
}

.containerImage {
    text-align: center;
    margin-top: 60px;
}

@media only screen and (min-width: 768px) {
    .profileImage {
        height: 400px;
    }
}


@media only screen and (min-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
    }

    .containerImage {
        margin: 30px 130px;
    }

    .containerText {
        padding: 20px;
        margin-top: 40px;
    }

    .buttonCv {
        margin-top: 40px;
    }
}